In [1]:
#API Key: xyz

In [2]:
#pip install google-generativeai

In [152]:
def get_info(var):
    import os

    API_KEY="xyz""  # Replace with your actual key

    import google.generativeai as genai

    genai.configure(api_key=API_KEY)

    # Create the model
    # See https://ai.google.dev/api/python/google/generativeai/GenerativeModel
    generation_config = {
      "temperature": 1,
      "top_p": 0.95,
      "top_k": 64,
      "max_output_tokens": 8192,
      "response_mime_type": "text/plain",
    }

    model = genai.GenerativeModel(
      model_name="gemini-1.5-flash",
      generation_config=generation_config,
      # safety_settings = Adjust safety settings
      # See https://ai.google.dev/gemini-api/docs/safety-settings
    )

    response = model.generate_content(var)

    return(response.text)

In [153]:
import pandas as pd

In [154]:
df = pd.read_excel('Sql Commands.xlsx', index_col='Serial No')

In [155]:
df.head()

,Category,Subcategory,for LMS Portal update
Serial No,,,
1,Databases,NaN,"Databases-Data lake, Data warehouse, Database,..."
2,NaN,Data lake,"Databases-Data lake, Data warehouse, Database,..."
3,NaN,Data warehouse,"Databases-Data lake, Data warehouse, Database,..."
4,NaN,Database,"Databases-Data lake, Data warehouse, Database,..."
5,NaN,Data Mart,"Databases-Data lake, Data warehouse, Database,..."

In [156]:
df.isnull().sum()

Category                 138
Subcategory               51
for LMS Portal update     20
dtype: int64

In [157]:
df.fillna('No', inplace = True)

In [158]:
df.isnull().sum()

Category                 0
Subcategory              0
for LMS Portal update    0
dtype: int64

In [159]:
df['Explanation'] = ""

In [160]:
df.head()

,Category,Subcategory,for LMS Portal update,Explanation
Serial No,,,,
1,Databases,No,"Databases-Data lake, Data warehouse, Database,...",
2,No,Data lake,"Databases-Data lake, Data warehouse, Database,...",
3,No,Data warehouse,"Databases-Data lake, Data warehouse, Database,...",
4,No,Database,"Databases-Data lake, Data warehouse, Database,...",
5,No,Data Mart,"Databases-Data lake, Data warehouse, Database,...",

In [161]:
df.iloc[0,0] == "No"

False

In [162]:
df.iloc[1,0] == "No"

True

In [163]:
df.shape[0]

189

In [164]:
prompt = 'Write a short and clear explanation of the sql concept: '
import time
for i in range(df.shape[0]):
    if (df.iloc[i,0]) == 'No':
        exp = (get_info(prompt + df.iloc[i,1]))
        exp.replace ('* **', "")
        exp.replace("**", "")
        exp.replace("##", "")
        df.iloc[i,3] = exp
        time.sleep(10) 
    else:
        exp = (get_info(prompt + df.iloc[i,0]))
        exp.replace ('* **', "")
        exp.replace("**", "")
        exp.replace("##", "")
        df.iloc[i,3] = exp
        time.sleep(10)

In [ ]:
new_file = df

In [151]:
new_file.head(30)

,Category,Subcategory,for LMS Portal update,Explanation
Serial No,,,,
1,Databases,No,"Databases-Data lake, Data warehouse, Database,...","Imagine a giant, organized filing cabinet that..."
2,No,Data lake,"Databases-Data lake, Data warehouse, Database,...","A data lake is like a **massive, raw storage s..."
3,No,Data warehouse,"Databases-Data lake, Data warehouse, Database,...","A data warehouse is like a giant, organized li..."
4,No,Database,"Databases-Data lake, Data warehouse, Database,...",A database is like a **digital filing cabinet*...
5,No,Data Mart,"Databases-Data lake, Data warehouse, Database,...","A data mart is a smaller, focused database des..."
6,Type of SQL Command,No,Type of SQL Command-,## Types of SQL Commands:\n\nSQL commands are ...
7,No,DDL,-DDL,DDL stands for **Data Definition Language**. I...
8,No,DML,-DML,DML stands for **Data Manipulation Language**....
9,No,DQL,-DQL,**DQL (Data Query Language)** is a component o...
10,No,DCL,-DCL,DCL stands for **Data Control Language**. It's...
11,Database creation,No,Database creation-,Database creation is the process of **setting ...
12,No,Create Database,-Create Database,**Creating a database** is like building a dig...
13,No,Drop Database,-Drop Database,"""Drop Database"" is a command used in database ..."
14,No,Detach Database,-Detach Database,## Detach Database: Unplugging Your Database\n...
15,No,Backup of Database,-Backup of Database,A database backup is a copy of your entire dat...
16,No,Restore Database,-Restore Database,## Restore Database: Bringing Your Data Back t...
17,No,Attach Database,-Attach Database,"""Attaching a database"" is like adding an extra..."
18,Datatypes,No,Datatypes-,## Datatypes: The Building Blocks of Informati...
19,No,Numeric,-Numeric,"""Numeric"" refers to anything that involves num..."
20,No,Char,-Char,"In programming, a ""char"" is a data type that r..."
21,No,Date & Datetime,-Date & Datetime,## Date & Datetime: Explained Simply\n\n**Date...
22,Create the Table,No,Create the Table-,"""Create the Table"" refers to the action of **d..."
23,Insert the values in Table,No,Insert the values in Table-,"""Insert the values in Table"" means to **add sp..."
24,Constraints,No,Constraints-,Constraints are **limitations or restrictions*...
25,No,Check,-Check,"""Check"" can have different meanings depending ..."
26,No,Not Null,-Not Null,"""Not Null"" is a database constraint that ensur..."
27,No,Primary Key,-Primary Key,A **primary key** is a unique identifier for e...
28,No,Unique,-Unique,**Unique** means **one of a kind**. It describ...
29,No,Default,-Default,
30,No,Foreign Key,-Foreign Key,

In [176]:
for i in range(df.shape[0]):
    ans = (df.iloc[i,3]).replace("**", "").replace("##", "")
    (df.iloc[i,3]) = ans

In [179]:
df["Category"] = df["Category"].replace("No", "")

In [181]:
df["Subcategory"] = df["Subcategory"].replace("No", "")

In [182]:
df.head()

,Category,Subcategory,for LMS Portal update,Explanation
Serial No,,,,
1,Databases,,"Databases-Data lake, Data warehouse, Database,...",A database is like an organized collection of ...
2,,Data lake,"Databases-Data lake, Data warehouse, Database,...",A data lake is a centralized repository where ...
3,,Data warehouse,"Databases-Data lake, Data warehouse, Database,...",A data warehouse is a central repository of da...
4,,Database,"Databases-Data lake, Data warehouse, Database,...",A database is like an organized filing cabinet...
5,,Data Mart,"Databases-Data lake, Data warehouse, Database,...",A data mart is like a mini-warehouse for speci...

In [184]:
df.to_excel('Sql Notes.xlsx')